.buttons {
  margin: 5px;
}

.titles {
  margin-top: 50px;
  margin-bottom: 30px;
}

/* Contact Us */
.ContactUsCard {
  position: relative;
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
  padding-top: 20px;
}

#feInputAddress {
  height: 100px;
}

/* MessageBox */
.MessageBox {
  width: 790px;
  font-size: 6px;
  overflow: hidden;
}

/* MessagePage */
.MessagePage {
  margin-top: 25px;
}

.MessageText {
  height: 80px;
  overflow: hidden;
}

.TakeItSection {
  position: relative;
  /* background-color:orange; */
  height: 160px;
  padding-left: 30px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.TakeItButt {
  margin-top: 60px;
  margin-bottom: 60px;
}

.Tags {
  margin: 3px;
}

.Status {
  margin-left: 20px;
}

/* Signup Page */
.secondpass {
  margin-top: 10px;
}

/* Individual Message Display */
.IndCard {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: 40px;
}

#Click {
  color: #707070;
  hover: #707070;
}

/* ButtonGroup */
.SideBar {
  margin-left: 0px;
  text-align: left;
  width: 110%;
  padding: 0px;
}

/* Three Buttons  */
.ThreeButtons {
  margin: 15px;
}

/* Chatbot */
.ChatBot {
  margin-bottom: 30px;
}